# Django-related files
*.pyc
*.pyo
*.pyd
__pycache__/
local_settings.py
db.sqlite3
media/

# Environment variables
.env
.env.local

# Log files
*.log
logs/

# Dependency files
Pipfile.lock
pipenv.lock
node_modules/

# Static files
/staticfiles/
/static/
.DS_Store
